<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 第一步 配置DataSource对象 class - 只要是DataSource的实现类都可以 -->
	<!-- 加载别的配置文件 -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="url" value="${url}"></property>
		<property name="username" value="${username_}"></property>
		<property name="password" value="${password}"></property>
		<property name="driverClassName" value="${driver}"></property>
		<property name="maxTotal" value="${maxTotal}"></property>
	</bean>
	
	<!-- 第二步 创建SqlSessionFactory
		该配置的class对应的是一个FactoryBean类 ，该id对应的对象是SqlSessionFactoryBean对象的getObject方法返回的对象
	 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 设置mybatis配置文件的路径 可选的 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置mapper.xml文件的路径
			可以省略 默认mapper和mapper映射文件 同名同包
		 -->
		<!-- <property name="mapperLocations" value="classpath:com/aowin/dao/*Mapper.xml"></property> -->
	</bean>
	
	<!--  第三步 创建Mapper接口的代理对象
		创建的对象的名字 都是接口名首字母变小写
	 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 设置mapper接口所在的包 -->
		<property name="basePackage" value="com.aowin.dao"></property>
	</bean>
	
	<!-- 第四步  创建Service -->
	<context:component-scan base-package="com.aowin.service"></context:component-scan>
	<context:component-scan base-package="com.aowin.service.impl"></context:component-scan>
	
	<!-- 第五步 配置事务 -->
	<!-- 配置事务管理器对象 该对象负责事务的开启 提交 以及回滚 关闭的操作 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务配置的简写 事务同样使用注解去配置 
		方法上添加 @Transactional
	
	 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>
