<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录界面</title>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
</head>
<body>
	<div style="width:350px;text-align:center;margin:auto;margin-top:150px" id="app">
	用户名：<input type="text" id="nm" v-model="user.username"><br><br>
	密码：<input type="password" id="ps" v-model="user.password"><br><br>
	<input type="button" value="登录" @click="submitUser()">
	</div>
	<script type="text/javascript">
		var vue = new Vue({
			el: "#app",
			data:{
				user:{
					username: "",
					password: ""
				}
			},
			methods : {
				submitUser : function(){
					this.$http.post("user/login",this.user).then(
							(resp) => {
								console.log(resp);
								if(resp.bodyText=="ok"){
									window.location.href="index.html";
								}else{
									alert("用户名或密码错误！")
								}
								
							},
							(resp) => {
								console.error(resp);	
							}
						);
				}
			}
		});
	
	</script>
</body>
</html>